@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Quattrocento&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  --primarary-color: #ff7613;
  --text-color: #727171;
}

body{
    font-family: inter, sans-serif;
    background-color: black;
    color: white;
}

/* common style */

a{
    text-decoration: none;
    color: white ;
}

/* layouts*/

.container{
    max-width: 1000px;
    width: 90%;
    margin: -40px auto;
    display: grid;
    padding: 5rem;
    background-color: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width: 768px){
    .container{
        width 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 3rem;
    }    
}
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

/* Profile */
.profile_container{
    display: flex;
    gap: 2rem;
}
.profile_img > img{
    max-width: 250px;
    border-radius: 50%;
}
.profile_name_firstName{
    color: white;
    font-weight: 200;
    font-size:clamp(1rem, 4vw, 2rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.details{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.contact{
    display: flex;
    flex-flow: column wrap;
    gap: 0.3rem;
}
.contact > div {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    align-items:center;
    font-size: 0.8rem !important;
    font-weight: 300
}
.contact > div > .material-icons{
    font-size: 0.8rem;
}
.profile_name_lastName{
    color: var(--primarary-color);
    font-size: clamp(1.5rem, 4vw, 4rem);
    text-transform: uppercase;
    margin-bottom: 0.7rem;   
    display: inline-block; 
}
.profile_title{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    
    display: block;
}
.description{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}
.downloadbtn{
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-decoration: underline;
}
.downloadbtn:hover{
    color: var(--primarary-color);
}
@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;
    }
}
/*Group 1*/
.group1{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Experties */
.title{
    color: var(--primarary-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.experties_list > li{
    margin-left: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}
.experience_list{
     margin-top: 1rem;
     margin-left: 1rem;
}

/* Education*/
.education{
    line-height: 1.3rem;
}
.education > div{
    margin-top: 1.3rem;
}
.school_name{
    color: white;
    font-weight: 600 
}

/* Group2 */
.group2{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Experience */
.experience_list > li{
    margin-bottom: 1rem;
    font-weight: 400;
}
.company{
    color: white;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

/*Certification*/
.certicication_items > li{
    margin-left: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

/* Strength */
.strength_items > li{
    margin-left: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

/*Project*/
.project_items > div{
    margin-bottom: 1.5rem;
}
.project_items > div > li{
    margin-left: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

/*Interest*/
.interest_items{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.interest_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 0.5rem;
    color: var(--text-color);
}
.interest_item > .material-icons{
    font-size: 2.5rem !important;
}
.interest_items :hover{
    color:var(--primarary-color)
}

/* Group3 */
.group3{
    width: 100%;
    grid-column: 1 / -1;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    gap: 5rem;    
}
.group3 > div{
    flex: 1;
}

/* Personal Info */
.information_items{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}
.information_items > div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: start;
}
hr{
    grid-column: 1/-1;
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    border: 2px solid rgba(128, 128, 128, 0.15);
}
@media only screen and (max-width: 768px){
    .group3{
        display: flex;
        flex-direction: column;
    } 
}

@media only screen and (max-width: 768px){
    hr{
        margin: 0 auto;
    }
}


 
